{% extends '_templates/base.njk' %}

{% block page_title %}University of Texas Student Resources{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1> Student Resources at UT </h1>
  <p> The University of Texas of Austin offers many resources for every student enrolled there. It offers resources stemming from writing, career exploration and even medical services. </p>
  <h2> Resources Loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for resource in services.resources %}
      <div class="col">
        <img src="img/{{ resource.Image }}" alt="Photo of {{ resource.Name }}" class="img-fluid">
        <h3><a href="resources/{{ resource.Slug }}.html">{{ resource.Name }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}